@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light+Two&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

header {
	width: 100%;
}

header nav{
	padding: 10px;
	height: 25px;
	background: #1f1e1e;
}

header nav ul li {
 	display: inline;
 }

 a {
   color: #fff;
   font: 16px Quicksand;
   text-decoration: none;
   padding: 10px;
   font-weight: 150;
   transition: all 0.3s;
}

 header nav ul li a:hover {
 	background: #ccc;
 	color: #000;
 	padding: 10px;
 }

#welcome{
	width: 100%
	padding: 15px;
	height: 50px;
	display: inline;
}

.welcome{
	color: #c4c4c4;
	text-align: center;
	font-family: Chilanka;
	text-decoration: none;
    padding: 10px;
    font-weight: 300;
    background-color: #000;
}

#slide{
	display: flex;
 	flex-direction: column;
 	justify-content: flex-end;
	width: 100%;
 	height: 70vh;
	background: url(../images/banner.jpg);
	background-size: cover;
}

#slide h1, p{
  margin: 10px;
  text-align: center;
  color: #000;
  font-family: Dancing Script;
 }

 #lk_about{
 	width: 80%;
 	display: flex;
    flex-direction: column;
 }

 .title{
 	padding-top: 50px;
 	color: #000;
 	text-align: center;
 	font-family: Shadows Into Light Two;
 }

 .text{
 	color: #000;
    text-align: center;
    font-family: Shadows Into Light Two;
}